@font-face{
    font-family: 'Comic';
    src: url(./resources/Comic\ Sans\ MS.ttf)
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Comic';
}

.wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2em auto;
    height: 100vh;
    background-color: tan;
}
.full_width{
    width: 100%;
}
#header{
    height: 2em;
    background-color: black;
    color: white;
    text-align: center;
    grid-column: 1/end;
}

#arena{
    grid-column: 1/end;
    grid-row: 2;
    height: 100%;
    display: grid;
    grid-template-rows: 10vh auto;
}
label{
    line-height: 3em;
    margin: 5px;
}
.button{
    width: 5em;
    grid-row: 1;
    border-radius: 4px;
    box-shadow: 0 6px 2px rgb(114, 107, 107);
    margin-left: 4px;
    background-color: rgb(167, 38, 38);
    border: none;
    color: white;
}
.button:focus{
    outline: none;
    background-color: rgb(92, 35, 35);
}
.button:active{
    box-shadow: 0 4px 1px rgb(60, 48, 48);
    transform: translateY(2px)
}
input[type="text"], textarea {
    margin: 5px;
    background-color : tan;
    border-radius: 4px;
    box-shadow: -2px 2px 2px black, 2px -2px 2px black;
    outline: none;
    border: none;
    padding-left: .5em;
}
/* Player selection */

#bsov .my_input{
    text-decoration: none;
    border: none;
}
#player_selection{
    grid-column: 1/end;
    grid-row: 1/2;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
}
#p1_select{
    grid-column: 1/2;
    display: grid;
    align-items: center;
    grid-template-rows: auto;
    justify-items: center;
}
#p2_select{
    grid-column: 3/4;
    display: grid;
    align-items: center;
    grid-template-rows: auto;
    justify-items: center;
}
.fight{
    grid-column: 2/3;
    margin: auto;
}
.fight_button_div{
    display: grid;
    justify-content: center;
}

/* Battle Area */

#battle_area{
    display: grid;
    grid-template-rows: 10vh auto;
    grid-template-columns: 1fr 1fr;
    /* background-image: url("./resources/forest.jpg"); */
    background-size: cover;
}
.hide{
    visibility: hidden;
}
.p1_status{
    grid-column: 1/2;
    grid-row: 1/2;
    display: grid;
    grid-template-rows: 1fr 1fr;
}
.p2_status{
    grid-column: 2/3;
    grid-row: 1/2;
    display: grid;
    grid-template-rows: 1fr 1fr;
}
#p1_name{
    grid-row: 1;
    text-align: center;
    color: white;
    background-color: black;
}
#p2_name{
    grid-row: 1;
    text-align: center;
    color: white;
    background-color: black;
}
#p1_lifebar{
    grid-row: 2;
    width: 95%;
    margin: auto;
    height: 1.5em;
    border-radius: .25em;
    border: 1px solid black;
}
#p2_lifebar{
    grid-row: 2;
    width: 95%;
    margin: auto;
    height: 1.5em;
    border-radius: .25em;
    border: 1px solid black;
}
#p1_lifebar_status{
    width: 100%;
    height: 100%;
    background-color:  rgb(167, 38, 38);
}
#p2_lifebar_status{
    width: 100%;
    height: 100%;
    background-color:  rgb(167, 38, 38);
}

/***********************
Battlefield
***********************/

#battlefield{
    grid-row: 2/end;
    grid-column: 1/end;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2em auto;
}
#p1_char{
    width: 90%;
    height: 75%;
    grid-column: 1/2;
    grid-row: 2/end;
    display: grid;
    justify-items: center;
    align-items: center;
    margin: auto;
    position: relative;
}
#p2_char{
    width: 80%;
    height: 75%;
    grid-column: 2/end;
    grid-row: 2/end;
    display: grid;
    justify-items: center;
    align-items: center;
    margin: auto;
    position: relative;
}
.p1_stats{
    color: white;
    grid-row: 1/2;
    margin-left: 2em;
    margin-right: 2em;
}
.p2_stats{
    color: white;
    grid-row: 1/2;
    margin-left: 2em;
    margin-right: 2em;
}
#p1_sprite{
    height: 125%;
    filter: flipH;
    transform: scaleX(-1);
    overflow: hidden;
    display: none;
    z-index: 5;
    animation-name: fadeIn;
    animation-duration: 2s;
}
/* #p1_sprite[img-src] {
    opacity: 0;
} */
#p2_sprite{
    height: 125%;
    overflow: hidden;
    display: none;
    z-index: 5;
    animation-name: fadeIn;
    animation-duration: 2s;
    /* display: none; */
}
.icons{
    width: 20px;
    height: 20px;
    margin-right: 1em;
}
.inline{
    display: inline;
}
.dark_text{
    color: black;
}
@keyframes fadeIn{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@keyframes fadeOut{
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
/***********************
Intro
***********************/
.intro_field{
    /* transform: translateY(-10vh); */

    animation-name: fadeOut;
    animation-delay: 1s;
    animation-duration: 2s;
}
#p1_intro_field{
    z-index: 10;
    position: absolute;
    display: none;
    color: rgb(167, 38, 38);
    max-width: 90%;
    width: 90%;
}
#p1_intro_name{
    display: block;
    transform: translateY(-2em);
    font-size: calc(40px + (200 - 40) * ((50vw - 300px) / (1600 - 300)));
    text-align: center;

}
svg{
    width: 100%;
}
#p1_slogan{
    display: block;
    font-size: calc(40px + (150 - 40) * ((50vw - 300px) / (1600 - 300)));
    text-align: center;
}
#p2_intro_field{
    z-index: 10;
    position: absolute;
    display: none;
    color: rgb(167, 38, 38);
}
#p2_intro_name{
    display: block;
    text-align: center;
    font-size: calc(40px + (150 - 40) * ((50vw - 300px) / (1600 - 300)));
    transform: translateY(-2em);
}
#p2_slogan{
    display: block;
    text-align: center;
    font-size: calc(40px + (150 - 40) * ((50vw - 300px) / (1600 - 300)));
}
